<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="freento_disable_carts_endpoint" translate="label" type="text"
                 sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Disable Carts Endpoint</label>
            <tab>freento</tab>
            <resource>Freento_DisableCartsEndpoint::config</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select"
                       sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable PUT /V1/guest-carts/:cartId/order endpoint</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
